@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Sofia+Sans:wght@1&display=swap');
h1{
    text-align: left;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: white; padding: 10px; height: 30px; margin: -10px;
}
h2{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    color: white;
    background-image: url("/img/Imagen1.jpg");
}
p{
    font-family: 'Manrope', sans-serif;;
}
div{
    padding: 40px;
    border: 30 px;
    width: 300px;
    height: 5px;
    color: black;
    background-color: rgba(255, 255, 244, 0.733);
    text-align: left;
    margin: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
div.contenedor{
    color: white;
    background-color: rgb(252, 8, 8);
    border-radius: 15px;
    width: 120px;
    text-align: center;
    display: inline-block;
}